<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172711540191-kmb0pj9fpq0lnh4ei5v0i45r1je9ri4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172711540191-kmb0pj9fpq0lnh4ei5v0i45r1je9ri4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172711540191-n4201acqebktd360rmff21dnr2dpn26h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3GxIZYOuxNRX8-eBaiirqRQXe9ej7DmU</string>
	<key>GCM_SENDER_ID</key>
	<string>172711540191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.csaba.ecotrivia</string>
	<key>PROJECT_ID</key>
	<string>duet-ai-roadshow-415022</string>
	<key>STORAGE_BUCKET</key>
	<string>duet-ai-roadshow-415022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172711540191:ios:c6dd9d379468aec43dc06a</string>
</dict>
</plist>